<!DOCTYPE html>
<html>
<head>
  <title>New Application</title>
  <%%= stylesheet_link_tag    "application", :media => "all" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
</head>
<body>
<div id="menuHolder">
  <% template_variables['database'].tables_by_name.each do | table_name, table | %>
    <a href="/<%= table_name %>" class="ajaxMenuLink"><%= table_name.capitalize %></a> |
  <% end %>
</div>
<div id="editHolder">
  <%%= yield %>

  <script>
    setHolder('#editHolder');
    ajaxifyLinks('.ajaxMenuLink','#editHolder');
  </script>
</div>
</body>
</html>
